<section class='menu col'>
  <section class = "row">
    <% salads.forEach((row) => { %>
          <%= row['name'] %>
          <%= row['price']%>
          <%= row['description']%>
          <img class = "food-image" src='<%=row['pictures'] %>'>
          <%= row['likes']%>
          <button>Add</button><br>
        <% }) %>
  </section>
  <section class = "row">
    <% Wraps.forEach((row) => { %>
          <%= row['name'] %>
          <%= row['price']%>
          <%= row['description']%>
          <img class = "food-image" src='<%=row['pictures'] %>'>
          <%= row['likes']%>
          <button>Add</button><br>
          <% }) %>
  </section>
  <section class = "row">
    <% Soups.forEach((row) => { %>
          <%= row['name'] %>
          <%= row['price']%>
          <%= row['description']%>
          <img class = "food-image" src='<%=row['pictures'] %>'>
          <%= row['likes']%>
          <button>Add</button><br>
          <% }) %>
  </section>
</section>
