<section class='menu col'>
<% salads.forEach((row) => { %>
      <%= row['name'] %>
      <%= row['price']%>
      <%= row['description']%>
      <img src='<%=row['pictures'] %>'>
      <%= row['likes']%>
    <% }) %>
<% Wraps.forEach((row) => { %>
      <%= row['name'] %>
      <%= row['price']%>
      <%= row['description']%>
      <img src='<%=row['pictures'] %>'>
      <%= row['likes']%>
      <% }) %>
<% Soups.forEach((row) => { %>
      <%= row['name'] %>
      <%= row['price']%>
      <%= row['description']%>
      <img src='<%=row['pictures'] %>'>
      <%= row['likes']%>
      <% }) %>
</section>
